html, body {
  font-size: 14px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;

}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  width: 100%;
  opacity: 0.7;
  transition: transform .5s, opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
  transition: transform .5s, opacity .5s;
}

/* header section */
header {
  font-family: Open Sans;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Jumbotrom section */
.jumbotron {
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron-text {
  max-width: 51.3rem;
  text-shadow: 1px 1px 2px black;
  margin: auto;
}

.button-text {
  color: white;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  color: white;
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
  color: white;
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
  color: white;
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
  color: white;
}

.jumbotron h1 {
  font-family: Monoton;
  font-size: 7.1rem;
  text-shadow: 1px 1px 2px black;
}

.btn-primary {
  width: 11.4rem;
  background-color: #399db1;
  margin: auto;
  margin-top: 2.8rem;
}

.btn-primary p {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}


/* Featured Project Section */
.featured-project .image-container {
  margin-top: 20px;
  height: 19rem;
}

/* Projects Section */

.project {
  margin-bottom: 4rem;
}

.categories li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

.blue-heading {
  color: #399db1;
}

/* Footer Section */
.footer {
  background-color: #f3f3f3;
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
  margin-top: 1.85rem;
  text-align: center;
}

.footer strong {
  font-size: 2.5rem;
  font-weight: bold;
}

.footer-text {
  max-width: 42rem;
  margin: auto;
  margin-top: 1.4rem;
}
